/bin/
/.classpath
/.project
/target
/.settings
# /gradle
/.gradle
/src/main/java/*.java
/src/main/java/*.tokens
/build/
/test-output/
/src/main/java/hivesql/analysis/parse/HiveSQL*.java
/src/main/java/hivesql/analysis/parse/HiveSQL*.tokens
/src/test/resources/auto_*.sql
/.idea/
/hive-sql-analyse.iml
