<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="infoAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<File>/tmp/logs/hive-sql/test.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS}][%-5level][%logger{0}] - %msg%n</pattern>
		</encoder>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>300KB</maxFileSize>
		</triggeringPolicy>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/tmp/logs/hive-sql/test.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxFileSize>300KB</maxFileSize>
			<maxHistory>3</maxHistory>
		</rollingPolicy>

	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>INFO</level> 
			<onMatch>ACCEPT</onMatch> <onMismatch>ACCEPT</onMismatch> </filter> -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<!-- <logger name="paidui" additivity="false" level="INFO"> -->
	<!-- <appender-ref ref="infoAppender" /> -->
	<!-- </logger> -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="infoAppender" />
	</root>
</configuration>